body{background-color: aliceblue;display: flex; justify-content: center; align-items: center;}
main{background-color: rgb(117, 152, 182);border: 1px black solid;display: flex; align-items: center; height:100%;width:100%;flex-direction: column;justify-content: center;gap:50px;padding: 100px;}
.settings{border: 1px black solid; display: flex; justify-content: center;flex-direction: column;background-color: #4aaeb8; color: aliceblue;padding: 5px;}
#game{display: flex; flex-wrap: wrap;  background-color: #5f7577;
}
.square {
    font-size: 1rem;
    color: rgb(255, 71, 71);
    height: 2rem;
    width: 2rem;
    text-align: center;
    vertical-align: middle;
    padding:0;
    margin:0;
    /* border: 2px solid rgb(134, 134, 134); */
    
}

.square:active {
    border: 2px solid rgb(68, 9, 9);

}
.noclick{pointer-events: none; 
}
.clickeddown{
    font-size: 1rem;
    background-color: rgb(187, 230, 168);
    padding: 0;
    margin:0;
    text-align: center;
    vertical-align: middle;
    border: none;
    height: 2rem;
    width: 2rem;
    /* border: 0px ; */
}