.App {
  background-color: #123e96;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
main{
  gap: 5rem;
  margin-top:5rem;
  margin-bottom:5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
label{
  display: flex;
  justify-content: space-between;
  gap:1rem;
}
.selectLabel{
  justify-content: center;
}